@import url('./_variables.css');
@import url('./icons/style.css');
*{
    border: 0px;
    border-radius: 0px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 16px;
}